<div class="columns is-multiline is-mobile">
  {{ range .item }}
    <div class="column is-6-desktop is-12-mobile embed-responsive zoom-xs">
      <a href="{{ .link }}" class="">     
        <img src="{{ .image }}" alt="{{ .title }}" class="">
        <h2 class="embed-responsive-item title is-1 p-6 mb-6 has-text-white" >{{ .title }}</h2>                        
        <h2 class="subtitle is-3 px-6 py-2 has-text-light has-background-black" style="position: absolute; bottom: 1px !important">{{ .content }}</h2>
      </a>        
    </div>
  {{ end }}
</div>